<div class="t">
    <div class="contact">
        <h3>SIGN IN</h3>
        <form>
            <input class="input" type="email"  class="name" placeholder="Email" required>

          <input class="input" type="password"  class="name" placeholder="Password" required>
          <input class="input" type="text"  class="subject" placeholder="phone number" required>
          <input class="input" type="text" class="msg" placeholder="Shipping Addres" required>
          <button class="input" type="submit"  class="btn btn-info">SIGN IN</button>  
        </form>
        <a href="" >sign up</a>

    </div>
    <div class="cop row justify-content-center">
        <p >Copy Right 2024 &copy; By  <span>  Bakr Eldeeb  </span>  All Rights Reserved</p>
    </div>
</div>