<div class="n">
  <div class="alert">
    <img src="../assets/images/Banner.jpg" alt="">
  </div>
  <nav class="navbar navbar-expand-lg">
      <div class="container-fluid">
        <p class="navbar-brand">MOBILE HUB</p>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item home">
                  <a class="nav-link" routerLink='home' routerLinkActive='active'>Home</a>
                </li>
            <li class="nav-item">
              <a  class="nav-link" routerLink='apple' routerLinkActive='active'>Apple</a>
              
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink='samsumg' routerLinkActive='active'>Samsung</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink='oppo' routerLinkActive='active'>Oppo</a>
            </li>
          </ul>
          <a class="nav-link" routerLink='stores' routerLinkActive='active'><i class="fa-solid fa-location-dot"></i>
          </a>
          <a class="nav-link" routerLink='sign' routerLinkActive='active'><i class="fa-solid fa-user"></i>
          </a>
          <a class="nav-link" routerLink='cart' routerLinkActive='active'><i class="fa-solid fa-cart-shopping"></i></a>
          <!-- <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form> -->
        </div>
      </div>
    </nav>

</div>




